.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

button {
  background-color: #232931;
  color: #f6faf9;
  
  font-size: 2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #121529;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #e2e4e86a;
  font-size: 8rem;
  color: #ebeeee;
}

p {
  font-size: 2rem;
  color: #f6faf9;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  box-shadow:
    0 0 10px #20bed0, 0 0 20px ;
  border-radius: 10px;
  margin: 20px;

  
  filter: drop-shadow(0 0 10px #45e914);                               
  border: 2px solid #f3f6f5;}

button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #0aea11, 0 0 30px #232931, 0 0 40px #e6e8ea;
}



footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
